In [146]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')

import pandas as pd
from pandas import DataFrame 
import json
import random
import re

In [4]:
results = []

for i in range(1,13):
    filename = 'hypia20210810/{}.json'.format(i)
    with open(filename, 'r') as file:
        result = json.loads(file.read())['result']
        if 'items' in result:
            results.append(result['items'])
        elif 'data' in result: # applies only for page 1
            results.append(result['data']['items'])

len(results)

12

In [79]:
shortDescs = [profile['shortDescription'].split('\n') for page in results for profile in page]

sample = shortDescs[random.randrange(len(shortDescs))]

sample

['Name: Kevin Fei Sun',
 'Nationality: United States. Ethnicity: Chinese',
 'Where do you live?: New York City',
 'Languages: English, Mandarin (native); Russian, Spanish, French, Portuguese, German, Serbo-Croatian, Italian, Hindi/Urdu (B2); Turkish, Korean, Japanese, Arabic, Hebrew (B1); Shanghainese (heritage speaker).']

In [112]:
keyFixes = {
    'Where do you live': 'Where do you live?',
    'Nationality': 'Nationality or Ethnicity',
    'Ethnicity': 'Nationality or Ethnicity',
    'Natuionality or Ethnicity': 'Nationality or Ethnicity',
    'Name and Title': 'Name',
    'Where do you live ?': 'Where do you live?',
    'Currently living in': 'Where do you live?'
}

ignoreKeys = ['*Alternatively', 'Rare language', 'Representative of rare language', 'Language Family', '(Her Youtube channel']


#derived from uncleaned data using this code
#     colCounts = rawData.count().sort_values(ascending=False)
#     colCounts[colCounts<100].index
languageKeys = ['Conversational', 'Role at HYPIA', 'Mother Tongue', 'Fluent (C level)',
       'Learning', 'Fluent', 'Conversant', 'Old languages', 'Basic', 'Read',
       'Currently studying (basic level)', 'Basic (mainly written)', 'Reading',
       'Also a speaker of', 'Rare Language', 'Medial (B level)',
       'Some phrases', 'Family Language', 'Beginner in', 'Currently learning',
       '[Fluent]', 'Baza (A level)', 'Level A to B',
       'In a lesser degree but with a good basic knowledge anyway',
       'Colloquial ability', 'Reading Proficiency',
       'Upper-Intermediate (B2 level)', 'Lower-Intermediate (B1 level)',
       'Basic (A2 level)', 'Beginner (A1 level)', 'Broadcast ability',
       'Interview ability', 'Basic ability', 'Beginner',
       'Languages (In order of Fluency)', '• Native Languages',
       'English (nor Italian)', 'languages above',
       '• Languages of antiquity that I can write/read', 'Native Language',
       'Fluent Languages', '[Conversant]']

def processDescription(sd):
    output = {}
    _key = ''
    for line in sd:
        #print(line)
        value = ''
        if ': ' in line:
            key, *value = line.split(': ')
            key = key.strip()
            if key in keyFixes: key = keyFixes[key]
            if key in ignoreKeys:
                continue
            elif key in languageKeys:
                if not 'Languages' in output:
                    output['Languages'] = ': '.join(value)
                else:
                    output['Languages'] = output['Languages'] + ', ' + ': '.join(value)
            else:
                output[key] = ': '.join(value)
                _key = key
        elif key != '':
            output[_key] = output[_key] + ': '.join(value)
    return output
        
processDescription(sample)

{'Name': 'Kevin Fei Sun',
 'Nationality or Ethnicity': 'United States. Ethnicity: Chinese',
 'Where do you live?': 'New York City',
 'Languages': 'English, Mandarin (native); Russian, Spanish, French, Portuguese, German, Serbo-Croatian, Italian, Hindi/Urdu (B2); Turkish, Korean, Japanese, Arabic, Hebrew (B1); Shanghainese (heritage speaker).'}

In [114]:
semiCleanData = DataFrame([processDescription(sd) for sd in shortDescs])
semiCleanData

,Name,Languages,Nationality or Ethnicity,Where do you live?
0,Usman W. Chohan,"Urdu, Brazilian Portuguese, Spanish, English, ...",NaN,NaN
1,Matias Barmat,"Spanish (native), English (C1), Catalan (C1), ...",Argentina /,Buenos Aires
2,Eduardo Teiga,"Portuguese, Spanish, Catalan, English, German,...",Portuguese,Switzerland
3,Hugues Pluvinage,"French (native), English (C2), Dutch (C2), It...",Belgian,Italy
4,Carlos Yebra Lopez,"Spanish, Judeo-Spanish, Catalan, Portuguese, F...",Spanish,NaN
...,...,...,...,...
221,Jakub Jarosz,"Polish, English, Italian, Spanish, Russian, Fr...",Polish,Poland
222,George L. O’Hara,"English (native), French, Spanish, Russian, Uk...","American, Irish","Washington, DC"
223,Helmar Böhnlein\t,"German, English, French, Portuguese, Spanish, ...",German,"Vienna, Austria"
224,Loana Eugenie Eleonora Kontogouri,"Romanian, English, French, German, Spanish, It...",Greek & Romanian,"Munich, Germany"
225,Annette Flottwell,"English, French, German, Spanish, Dutch, Portu...",German/ Belgian,"Belgium, I work in Luxembourg."

In [249]:
def languageSplit(s):
    if pd.isnull(s): return []
    languages = re.split(',|\.| and |&|;', s)
    languages = [l.strip() for l in languages if l != '']
    languages = [re.sub('\(.*|\*|Understands|I\\b|\\b[a-z]+|\)|[ABC][12]-|[ABC][12]', '', l).strip() for l in languages if l != '']
    return [l for l in languages if l != '']

[languageSplit(i) for i in semiCleanData.Languages.sample(3)]

[['Catalan', 'Spanish', 'German', 'English', 'French', 'Italian', 'Russian'],
 ['Russian',
  'English',
  'Spanish',
  'Italian',
  'Polish',
  'German',
  'French',
  'Japanese',
  'Turkish',
  'Brazilian Portuguese',
  'Dutch'],
 ['English',
  'Malay',
  'Chinese Mandarin',
  'Cantonese',
  'Writing',
  'Hokkien',
  'Japanese',
  'Indonesian',
  'French',
  'Korean']]

In [268]:
langCounts = DataFrame(pd.Series([l for ls in 
                                  semiCleanData.Languages for l in languageSplit(ls)]).value_counts()).rename(columns={0: 'Count'})
commonLangs =  list(langCounts[langCounts.Count > 4].index)
commonLangs

['English',
 'Spanish',
 'French',
 'German',
 'Italian',
 'Portuguese',
 'Russian',
 'Dutch',
 'Japanese',
 'Catalan',
 'Swedish',
 'Polish',
 'Greek',
 'Arabic',
 'Hebrew',
 'Turkish',
 'Norwegian',
 'Esperanto',
 'Romanian',
 'Chinese',
 'Korean',
 'Danish',
 'Ukrainian',
 'Latin',
 'Mandarin Chinese',
 'Bulgarian',
 'Hindi',
 'Mandarin',
 'Czech',
 'Galician',
 'Indonesian',
 'Brazilian Portuguese',
 'Finnish',
 'Swahili',
 'Urdu',
 'Farsi',
 'Modern Greek',
 'Basque',
 'Icelandic',
 'Croatian',
 'Serbian',
 'Cantonese',
 'Afrikaans',
 'Hungarian',
 'Irish',
 'Welsh',
 'Slovak',
 'Yiddish',
 'Ancient Greek',
 'Standard Arabic',
 'Armenian',
 'Serbo-Croatian',
 'Macedonian']

In [269]:
all([])

True

In [276]:
semiCleanData[semiCleanData.Languages.apply(lambda ls: all([l in commonLangs  for l in languageSplit(ls)]))]

,Name,Languages,Nationality or Ethnicity,Where do you live?
1,Matias Barmat,"Spanish (native), English (C1), Catalan (C1), ...",Argentina /,Buenos Aires
2,Eduardo Teiga,"Portuguese, Spanish, Catalan, English, German,...",Portuguese,Switzerland
8,Yulianna Ramón Martínez,"Spanish, English, French, Portuguese, Italian ...",Dominican,"Santo Domingo, Dominican Republic"
11,Enora Lessinger,"French, English, Spanish, Hebrew, Portuguese, ...",French,France
13,Alexandra Ivanova,"Bulgarian, German, English, French, Spanish, ...",Austrian / Bulgarian,NaN
...,...,...,...,...
218,Viktor Palatnyk (aka Viktor Luciferovich),"Russian (native), Ukrainian, English, Spanish...",Ukrainian,USA
219,Marcos Duleba Mendoza,"Italian, Spanish, English, French, Portuguese,...",Argentinian / Italian,Argentina
221,Jakub Jarosz,"Polish, English, Italian, Spanish, Russian, Fr...",Polish,Poland
222,George L. O’Hara,"English (native), French, Spanish, Russian, Uk...","American, Irish","Washington, DC"
223,Helmar Böhnlein\t,"German, English, French, Portuguese, Spanish, ...",German,"Vienna, Austria"

In [204]:
semiCleanData[semiCleanData.Languages.fillna('').str.contains('Kazakh')]

,Name,Languages,Nationality or Ethnicity,Where do you live?
185,Cameron Farr,", English, Spanish, Portuguese, German, Dutch,...",American,NaN
190,John Profaci,English Dutch German Yiddish Spanish Portugues...,American,"Mt. Laurel, NJ"