In [12]:
import re
import urllib.request
from bs4 import BeautifulSoup
from pandas import DataFrame
import pandas as pd
import datetime
import seaborn as sns
import numpy as np
import random

import unicodedata
import unicodeblock.blocks

import os

sorted(os.listdir('data/현대 국어 사용 빈도 조사 2'))

['구통계.txt',
 '구통계.xlsx',
 '어미통계.txt',
 '어미통계.xlt',
 '음절통계.txt',
 '음절통계.xlt',
 '일반어휘통계.txt',
 '일반어휘통계.xlsx',
 '자모통계.txt',
 '자모통계.xlt',
 '조사통계.txt',
 '조사통계.xlt',
 '현대 국어 사용 빈도 조사 2(2005).PDF']

In [2]:
base_dir = 'data/현대 국어 사용 빈도 조사 2'

In [6]:
pd.read_excel(os.path.join(base_dir, '구통계.xlsx')).sort_values('빈도', ascending=False)[:50]

      순위   빈도       항목               풀이
2338   1  183    산업 사회             産業社會
892    2  175    금융 기관             金融機關
1704   3  165    문학 작품             文學作品
895    4  147   금융 실명제            金融實名制
1113   5  126    노동 운동             勞動運動
1319   6  121    대중 매체             大衆媒體
2282   7  111    사회 복지             社會福祉
4408   8  107    정치 자금             政治資金
1005   9  104    기자 회견             記者會見
613   10  103   구석기 시대            舊石器時代
4715  11   99    지방 자치             地方自治
5628  12   91    현대 사회             現代社會
2851  13   88  스포츠 심리학        sports心理學
2633  13   88    세계 대전             世界大戰
4047  14   87    자연 과학             自然科學
308   15   85    고대 국가             古代國家
5354  16   81    프로 야구  ←professional野球
5754  17   77    환경 문제             環境問題
2266  18   76    사회 과학             社會科學
3253  19   75    여론 조사             輿論調査
76    20   72    감사 위원             監査委員
729   21   71    국제 사회             國際社會
3532  22   65    운영 체제             運營體制
242   23   62    경제 성장             經濟成長
2378  24   60    삼국 시대             三國時代
1123  24   60   노동자 계급            勞動者階級
2883  25   59    시민 사회             市民社會
3254  26   57    여름 방학              -放學
2269  27   56    사회 구조             社會構造
4366  28   55    정상 회담             頂上會談
2581  28   55   선수권 대회            選手權大會
2273  29   54    사회 문제             社會問題
2901  29   54    시장 경제             市場經濟
2570  29   54    선거 운동             選擧運動
2628  29   54    세계 경제             世界經濟
3879  30   53    인수 분해             因數分解
894   30   53    금융 시장             金融市場
5652  31   52    혈액 순환             血液循環
615   32   51    구속 영장             拘束令狀
730   32   51    국제 수지             國際收支
2495  32   51    생산 수단             生産手段
4359  33   50   정보화 사회            情報化社會
641   33   50    국가 권력             國家權力
2974  33   50   신석기 시대            新石器時代
2696  33   50   소비자 물가            消費者物價
250   34   49    경제 정책             經濟政策
257   35   47    경제 체제             經濟體制
1811  36   46    민주 정치             民主政治
3091  36   46   아시안 게임       Asian game
5627  36   46    현대 미술             現代美術

In [7]:
pd.read_excel(os.path.join(base_dir, '일반어휘통계.xlsx')).sort_values('빈도', ascending=False)[:50]

       순위     빈도     어휘     풀이 품사
54657   1  97499     이다    NaN  지
3079    2  50558    것01    NaN  의
77100   3  42900   하다01    NaN  동
57046   4  39290   있다01    NaN  보
57047   5  37028   있다01    NaN  형
18309   6  24583   되다01  어른이 ～  동
39350   7  22484    수02     방법  의
11711   8  21415    나03     자아  대
77101   9  20880   하다01    NaN  보
47001  10  19195   없다01    NaN  형
8987   11  19039    그01    삼인칭  관
44888  12  18251     않다    NaN  보
8988   13  14058    그01    삼인칭  대
2376   14  13736    거01      것  의
33211  15  13594     사람    NaN  명
28753  16  12582   보다01    NaN  동
54548  17  12296    이05   ～ 사과  관
44018  18  12278    아니다    NaN  지
19034  19  11721    등05      等  의
65098  20  11694   지다04    느껴～  보
1804   21  11339     같다    NaN  형
51414  22  11213   우리03    NaN  대
19468  23  11007    때01     시간  명
13197  24  10696    년02      年  의
16513  25   9869  대하다02     對-  동
63560  26   9417   주다01    NaN  보
77534  27   9022    한01    NaN  관
28754  28   8941   보다01    NaN  보
20949  29   8396    말01   ～과 글  명
54549  30   7804    이05    NaN  대
56082  31   7759    일01  ～을 하다  명
110    32   7747   가다01    NaN  동
52659  33   7685  위하다01     爲-  동
19489  34   7554     때문    NaN  의
9112   35   6934    그렇다    NaN  형
21100  36   6738    말하다    NaN  동
9075   37   6449    그러나    NaN  접
44899  38   6433     알다    NaN  동
49534  39   6126   오다01    NaN  동
19648  40   5699      또    NaN  접
9095   41   5577   그런01    NaN  관
24056  42   5367   문제06     問題  명
20939  43   5342     많다    NaN  형
16638  44   5231    더01    NaN  부
56087  45   5226    일07      日  의
9144   46   5163    그리고    NaN  접
34124  47   5025   사회07     社會  명
44623  48   5012    안02     아니  부
23083  49   5006    못하다    NaN  보
8994   50   4999     그것    NaN  대

In [11]:
pd.read_excel(os.path.join(base_dir, '자모통계.xlt')).sort_values('빈도', ascending=False)[:20]

    순위       빈도  위치 자모
31   1  2105587  초성  ㅇ
46   2  1926007  중성  ㅏ
66   3  1355527  중성  ㅣ
6    4  1328090  종성  ㄴ
0    5  1171038  초성  ㄱ
64   6  1151976  중성  ㅡ
50   7   942819  중성  ㅓ
54   8   862073  중성  ㅗ
9    9   800785  초성  ㄷ
13  10   776891  종성  ㄹ
27  11   756477  초성  ㅅ
33  12   748509  초성  ㅈ
44  13   635299  초성  ㅎ
32  14   617205  종성  ㅇ
12  15   610211  초성  ㄹ
5   16   596893  초성  ㄴ
59  17   592419  중성  ㅜ
21  18   429661  초성  ㅁ
52  19   422490  중성  ㅕ
1   20   411538  종성  ㄱ

In [15]:
pd.read_excel(os.path.join(base_dir, '조사통계.xlt')).sort_values('빈도', ascending=True)[:20]

      순위  빈도   항목 범주
55   131   1    ㄹ  인
74   131   1    럴  목
233  131   1  헌테서  부
182  131   1   이다  부
118  131   1  서부터  조
184  131   1   이다  조
119  131   1   설랑  부
191  131   1  이라곤  조
75   131   1    레  부
61   131   1   라고  부
58   131   1  ㄹ랑은  조
146  131   1    여  관
145  131   1   엔들  조
144  131   1    엔  조
201  131   1  이래도  조
48   131   1  드라도  조
45   131   1    덜  조
59   131   1   ㄹ루  부
44   131   1   던지  조
177  131   1   이구  접

In [18]:
pd.read_excel(os.path.join(base_dir, '음절통계.xlt')).sort_values('빈도', ascending=True)[:20]

        순위  빈도 음절
1264  1044   1  욤
1291  1044   1  윅
1282  1044   1  웟
1274  1044   1  웂
188   1044   1  껭
190   1044   1  껸
1249  1044   1  왑
1248  1044   1  왎
1237  1044   1  옰
1236  1044   1  옯
1180  1044   1  얐
1152  1044   1  앍
1144  1044   1  씼
1138  1044   1  씫
1128  1044   1  쒔
1126  1044   1  쑹
1121  1044   1  쐴
1120  1044   1  쐰
1117  1044   1  쐋
1102  1044   1  썸