In [1]:
# more info here: https://www.usitc.gov/data/dicl.htm

import pandas as pd
import numpy as np

In [41]:
Iso3 = pd.read_csv('iso3.tsv', sep='\t').drop(
    'M49 code', axis=1).rename(columns={'Country or Area': 'country1', 'ISO-alpha3 code': 'ISO3'}).set_index('ISO3')

Dicl = pd.read_csv('dicl.csv').set_index('ISO3').join(Iso3).reset_index().set_index('ISO3_2').join(
    Iso3.rename_axis('ISO3_2').rename(columns=lambda _:'country2')).reset_index()


Dicl

      ISO3_2 ISO3  col     cnl      lp      cl       country1  country2
0        ABW  ABW    1  0.5227  0.5361  0.6863          Aruba     Aruba
1        ABW  AFG    0  0.0000  0.0391  0.0130    Afghanistan     Aruba
2        ABW  AGO    0  0.0000  0.0765  0.0255         Angola     Aruba
3        ABW  AIA    1  0.0062  0.1954  0.4005       Anguilla     Aruba
4        ABW  ALA    0  0.0000  0.0722  0.0241  Åland Islands     Aruba
...      ...  ...  ...     ...     ...     ...            ...       ...
58559    ZWE  WSM    1  0.0020  0.0020  0.3347          Samoa  Zimbabwe
58560    ZWE  YEM    0  0.0000  0.0001  0.0000          Yemen  Zimbabwe
58561    ZWE  ZAF    1  0.0030  0.6420  0.5483   South Africa  Zimbabwe
58562    ZWE  ZMB    1  0.0097  0.7576  0.5891         Zambia  Zimbabwe
58563    ZWE  ZWE    1  0.3874  0.8456  0.7443       Zimbabwe  Zimbabwe

[58564 rows x 8 columns]

In [44]:
Dicl[(Dicl.ISO3 == Dicl.ISO3_2)].sort_values('cnl')[:20]

,ISO3_2,ISO3,col,cnl,lp,cl,country1,country2
42282,PNG,PNG,1,0.0119,0.1616,0.3912,Papua New Guinea,Papua New Guinea
10206,CMR,CMR,1,0.0254,0.4576,0.4944,Cameroon,Cameroon
57105,VUT,VUT,1,0.0279,0.6433,0.5571,Vanuatu,Vanuatu
46656,SLB,SLB,1,0.0317,0.5354,0.5224,Solomon Islands,Solomon Islands
8505,CAF,CAF,1,0.0471,0.4112,0.4861,Central African Republic,Central African Republic
10449,COD,COD,1,0.0525,0.4793,0.5106,Democratic Republic of the Congo,Democratic Republic of the Congo
53946,TWN,TWN,1,0.0532,0.9664,0.6732,NaN,NaN
51030,TCD,TCD,1,0.0693,0.2292,0.4328,Chad,Chad
48357,SSD,SSD,1,0.0700,0.5590,0.5430,South Sudan,South Sudan
54432,UGA,UGA,1,0.0704,0.4669,0.5124,Uganda,Uganda
27459,KEN,KEN,1,0.0732,0.3931,0.4888,Kenya,Kenya
4374,BEN,BEN,1,0.0762,0.5743,0.5502,Benin,Benin
35721,MOZ,MOZ,1,0.0777,0.6743,0.5840,Mozambique,Mozambique
29646,LBR,LBR,1,0.0829,0.3696,0.4842,Liberia,Liberia
24300,IND,IND,1,0.0867,0.4193,0.5020,India,India
51273,TGO,TGO,1,0.0947,0.5923,0.5623,Togo,Togo
9963,CIV,CIV,1,0.0981,0.3891,0.4957,Côte d’Ivoire,Côte d’Ivoire
54189,TZA,TZA,1,0.1199,0.7637,0.6279,United Republic of Tanzania,United Republic of Tanzania
34263,MLI,MLI,1,0.1274,0.3508,0.4927,Mali,Mali
58077,ZAF,ZAF,1,0.1286,0.5610,0.5632,South Africa,South Africa